body,h1,h2,h3,h4,h5,h6 {
    font-family: "DM Sans", sans-serif;
}

body,html {
  height: 100%;
  line-height: 1.8;
  font-size: 1.1em;
}

html {
  scroll-behavior: smooth;
}

code {
    background-color: #eee;
    border-radius: 3px;
    padding: 0 4px;
}

/*parallax effect*/
.bgimg-1,.bgimg-2,.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('./images/laptop dark.jpg');
  min-height: 100%;
}

.bgimg-2 {
  background-image: url('https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  min-height: 60%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.center {
  margin: auto;
  width: 50%;
}

.fade p {
    -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2.5s; /* Firefox < 16 */
        -ms-animation: fadein 2.5s; /* Internet Explorer */
         -o-animation: fadein 2.5s; /* Opera < 12.1 */
            animation: fadein 2.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#mynetwork {
  width: 80vh;
  height: 80vh;
  background-color: #ffffff;
  border: 2px solid lightgray;
  /*display: block;*/
}

.container{
  position: relative;
  padding-top: 40px;
}

.box{
  position: absolute;
}

.stack-top{
  z-index: 1;
  top: 0;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* accordion */
.tabs {
  overflow: hidden;
  /*box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);*/
}

.tab {
  width: 100%;
  color: black;
  overflow: hidden;
  margin: 5px;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
  background: #d6d6d6;
  cursor: pointer;
}

.tab-label:hover {
  background: #8cc63f;
}

.tab-label::after {
  content: "â¯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}

.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #d6d6d6;
  cursor: pointer;
}

.tab-close:hover {
  background: #8cc63f;
}

input:checked + .tab-label {
  background: #8cc63f;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}


a {
  text-decoration: none;
  color: #8cc63f;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #8cc63f;
  -webkit-text-decoration-color: #8cc63f;
  text-underline-offset: 3px;
}

@media screen and (max-width: 500px) {
  #mynetwork {
      width: 100%;
      display: inline-block;
      margin: auto;
  }
}

