body,h1,h2,h3,h4,h5,h6 {
    font-family: "DM Sans", sans-serif;
}

body,html {
  height: 100%;
  line-height: 1.8;
  font-size: 1.1em;
}

html {
  scroll-behavior: smooth;
}

code {
    background-color: #eee;
    border-radius: 3px;
    padding: 0 4px;
}



#app-link {
  color: white;
  background: none;
  border: 3px solid #8cc63f;
  letter-spacing: 0.6px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}


#app-link:hover {
  background: #8cc63f;
}


#paperlink {
  color: #6eb305;
  display: inline-block;
  text-decoration: none;
  font-size: 4.5vh;
}

#paperlink:hover {
  color: #4b7a04;
}


.w3-bar-item {
  letter-spacing: 0.6px;
}



/* back to top */
.back-to-top {
  display: none;
  position: fixed;
  z-index: 1;
  bottom: 25px;
  right: 25px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #333;
  opacity: 1;
  color: white;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color, border;
}

.back-to-top:hover, .back-to-top:focus {
  background-color: #8cc63f;
  color: #fff;  
  border: 3px solid #8cc63f;
}

@media(max-width: 992px) {
  .container { padding: 20px 100px; }
  .back-to-top { font-size: 50px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
}

@media(max-width:768px) {
  body { font-size: 16px; }
  .container { padding: 10px 50px; }
  h1 { font-size: 26px; }
  h2 { font-size: 22px; }
  hr { margin: 30px 0; }
  .back-to-top { font-size: 8px; width: 32px; height: 32px; bottom: 10px; right: 10px; }
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}




/*parallax effect*/
.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/laptop dark.jpg');
  min-height: 100%;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

.center {
  margin: auto;
  width: 50%;
}





#mynetwork {
  width: 85vh;
  height: 85vh;
  background-color: #ffffff;
  border: 2px solid lightgray;
  cursor: grab;
}


.container {
  position: relative;
  padding-top: 40px;
}

.box {
  position: absolute;
}

.stack-top {
  z-index: 1;
  top: 0;
}



#graphrefresh {
  background: none;
  cursor: pointer;
  float: right;
  border: none;
  color: #71a825;
}

#graphrefresh:hover {
  color: #3f6604;
  background: #d9d9d9;
}



input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}


#abstract {
  padding-right: 10px;
  max-height: 80vh;
  overflow: auto;
  font-size: 2.85vh;
}


/*scroll bar*/
.scroll::-webkit-scrollbar {
  width: 7px;
}

.scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.scroll::-webkit-scrollbar-thumb {
  background: #8cc63f; 
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #709e33; 
}


/*accordion*/

.accordion {
  font-size: 1rem;
  width: 94%;
  margin: 0 auto;
  border-radius: 5px;
}

.accordion-header, .accordion-body {
  background: white;
  width: 100%;
}

.accordion-header {
  padding: 0.7em;
  background: #d6d6d6;
  cursor: pointer;
  transition: all .3s;
  font-size: 1.25em;
  font-weight: 500;
}

.accordion__item {
  margin-bottom: 3px;
}

.accordion__item .accordion__item {
  margin-bottom: 3px;
}

.accordion-header:hover {
  background: #8cc63f;
  position: relative;
}

.accordion-body {
  background: white;
  color: #353535;
  display: none;
  font-size: 1.1em;
}

.accordion-body__contents {
  padding: 1.2em;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item > .accordion-header:after {
  content: "+";
  font-size: 1.4em;
  float: right;
  position: relative;
  top: -9.5px;
  transition: .3s all;
  transform: rotate(0deg);
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(45deg);
}

.accordion__item.active .accordion-header {
  background: #8cc63f;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 1em;
  }
  
  .accordion {
    width: 100%;
  }
}



a {
  text-decoration: none;
  color: #8cc63f;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #8cc63f;
  -webkit-text-decoration-color: #8cc63f;
  text-underline-offset: 3px;
}


.orglink {
  text-decoration: none;
  color: white;
}

.orglink:hover {
  color: #aede6f;
}


.contact-icons {
  border: none;
  background: none;
  color: black;
}

.contact-icons:hover {
  color: #8cc63f;
  cursor: pointer;
}

.w3-card {
  background: #eaeaea;
}

.contact-padding {
  padding: 6px 18px!important;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  #upgradvisor {
    font-size: 9vw !important;
  }
  #description {
    font-size: 3vw !important;
    max-width: 70% !important;
  }
  #app-link {
    font-size: 3vw !important;
  }
  #laptop {
    max-width: 79vw !important;
  }
  #mynetwork {
    width: 75.75vw;
    height: 75.75vw;
    display: inline-block;
    margin: auto;
  }
  #heading {
    font-size: 5vh !important;
  }
  #abstract {
    font-size: 2.3vh !important;
  }
}

